html{
	cursor: url(../img/mira.png) 30 30, auto;
}
body{
	background: url(../img/terra.png) no-repeat, #000;
	background-position: center top;
}

#hud{
	position: absolute;
	width: 235px;
	padding: 10px;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}
#life{
	float: left;
}
#time{
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.size0{
	width: 75px;
	height: 75px;
}

.size1{
	width: 100px;
	height: 100px;
}

.size2{
	width: 125px;
	height: 125px;
}

.size3{
	width: 150px;
	height: 150px;
}

.sideA{
	transform: scaleX(1);
}
.sideB{
	transform: scaleX(-1);
}

.menu{
	text-align: center;
}
.menu button{
	opacity: 0.7;
	margin-top: 15px;
	padding: 15px;
	background-color: rgb(999, 0, 0);
	border-radius: 20px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;

}
.menu button:hover{
	background-color: rgb(0, 999, 0);

}
.menu select{
	opacity: 0.7;
	margin-top: 15px;
	padding: 15px;
	border-radius: 20px;
	font-size: 1em;
	text-transform: uppercase;

}

#about{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #fff;
}